th ,td {
    text-align: center;
}

.table {
    vertical-align: middle;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.alert {
    text-align: center;
    background-color: #ffab40;
    padding: 1rem;
    font-size: 20px;
    color: white;
}

.selected {
    color : rgb(63, 173, 7);
}

.deleted {
    color : rgb(236, 6, 6);
}

.budget {
    font-weight: bold;
    text-align: center;
}


