<!DOCTYPE html>
<html lang="fr">
 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>To do list</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
  </head>
 
  <body>
    <div class="container" id="app">
      <br>
      <div class="panel panel-primary">
        <div class="panel-heading"><b>Panier</b></div>        
        <table class="table table-bordered table-striped">
					<div class="alert" v-if="total > budget && budget != 0"><i class="fas fa-exclamation-triangle"></i>
						Le budget a été dépassé de {{ Math.abs((budget - total).toFixed(2)) }} €!
					</div>
          <thead>
            <tr>
							<th class="col-sm-1"></th>
							<th class="col-sm-3">Articles</th>
							<th class="col-sm-1">Quantité</th>
							<th class="col-sm-2">Prix</th>
							<th class="col-sm-2">Total</th>
							<th class="col-sm-1"></th>
							<th class="col-sm-1"></th>
							<th class="col-sm-1"><button class="btn" v-on:click="deleteAll()"><i class="fas fa-sync-alt fa-2x deleted"></i></button></th>
            </tr>
          </thead>
          <tbody>
            <tr :class="{buy:item.selected}" v-for="(item, index) in panier" :key="item.id">
							<td scope="row" @click="item.selected=!item.selected">
								<button>
									<i class="fas fa-check fa-2x selected" v-if="item.selected"></i>
									<i class="fas fa-cart-arrow-down fa-2x" v-else="item.selected"></i>
								</button>
							</td>
							<td>{{ item.product }}</td> 
							<td>{{ item.quantity }}</td> 
							<td>{{ item.price }} €</td>
							<td>{{ (item.quantity * item.price).toFixed(2) }} €</td>	
							<td><button class="btn btn-danger btn-block fa-1x" v-on:click="item.quantity -= 1" :disabled="item.quantity == 0">➖</button></td>
							<td><button class="btn btn-info btn-block fa-1x" v-on:click="item.quantity += 1" :disabled="total > budget && budget != 0">➕</button></td>
							<td><button class="btn" v-on:click="deleteInput(index)"><i class="fa fa-trash-o fa-lg fa-2x deleted"></i></button></td>
            </tr> 
            <tr>
							<td colspan="1"></td>
							<td colspan="1"></td>
							<td colspan="1"><strong>{{ totalQuantity }}</strong></td>
							<td colspan="1"></td>
							<td><strong>{{ total }} €</strong></td>
							<td colspan="3">
								<input type="number" class="form-control budget" v-model.number="budget" placeholder="Budget de mes courses" min="0">
								<p v-show="(budget-total) >= 0">
									<b>Budget restant : {{ (budget - total).toFixed(2) }} €</b>
								</p>
							</td>
            </tr> 
            <tr>
							<td colspan="1"></td>
								<td><input type="text" class="form-control" v-model="input.product" placeholder="Article"></td>
								<td><input type="number" class="form-control" v-model.number="input.quantity" :disabled="total > budget && budget != 0" placeholder="Quantité" min="0" required></td>
								<td><input type="float" class="form-control" v-model.number="input.price" placeholder="Prix" min="0" required></td>
							<td colspan="4"><button class="btn btn-success btn-block" v-on:click="add()" :disabled="!validInput">Ajouter <i class="fas fa-shopping-cart"></i></button></td>
            </tr>
          </tbody>       
        </table>
      </div> 
			<div class="alert" v-if="!panier.length">
				Ma liste de courses est vide
			</div>
			<div class="alert" v-if="verifyCart">
				Toute ma liste de courses a été achetée!
				<div class="btn" v-on:click="deleteAll()"><i class="fas fa-sync-alt fa-2x"></i></div>
			</div>
		</div>
 
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="js/app.js"></script>
 
  </body>
 
</html>
